/****************************/
/*** Side nav menu Styles ***/
/****************************/
.top-nav {
  background-color: #4c0080; /*Dark Purple 004d1a*/
  overflow: hidden;
  position: relative;
}

.top-nav #myLinks {
  display: none;
  min-width: 40%;
}

.top-nav a {
  display: flex;
  color: #000;
  padding: 14px 16px;
  font-size: 28px;
  display: block;
}

.top-nav a.icon {
  background: #4c0080;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* on hover over links */
.side-nav a:hover {
  color: #2cc09b;
}

.active {
  background-color: #4c0080;
  color: white;
}

.main {
  display: flex;
  justify-content: flex-start;
}

/****************************/
/**** Basic Styling ********/
/****************************/
body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("images/banner.jpg");
  background-color: #d8d8d8;
  background: linear-gradient(to bottom, #d8d8d8, #585858);
}

body {
  padding: 0px;
  margin: 0px;
}

.headline {
  position: relative;
  display: flex !important;
  content: "";
  top: 0;
  height: 30vh;
  left: 0;
  right: 0;
  flex-basis: auto;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #4c0080;
  font-size: 35px;
  background-color: black;
  text-shadow: 2px 2px turquoise;
}

.about {
  display: flex;
  flex-flow: row wrap;
  border: solid;
  border-color: #4c0080;
  text-indent: initial;
  font-size: 1em;
  padding: 20px 35px 55px 90px;
  border-radius: 15px 50px 30px 5px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  color: #4c0080;
}

#peppers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-decoration: underline;
  color: #4c0080;
}

.salsas {
  display: flex;
  flex-flow: row wrap;
  border: solid;
  border-color: #4c0080;
  text-indent: initial;
  font-size: 1.2em;
  padding: 20px 35px 55px 90px;
  border-radius: 15px 50px 30px 5px;
}

#salsas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  color: #4c0080;
}

.jellies {
  display: flex;
  flex-flow: row wrap;
  border: solid;
  border-color: #4c0080;
  text-indent: initial;
  font-size: 1.2em;
  padding: 20px 35px 55px 90px;
  border-radius: 15px 50px 30px 5px;
}

#jellies {
  display: flex;
  justify-content: center;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  color: #4c0080;
}

.hotsauces {
  display: flex;
  flex-flow: row wrap;
  border: solid;
  border-color: #4c0080;
  text-indent: initial;
  font-size: 1.2em;
  padding: 20px 35px 55px 90px;
  border-radius: 15px 50px 30px 5px;
}

#hotsauces {
  font-size: 3em;
  text-align: center;
  color: #4c0080;
  text-decoration: underline;
}

#backToTheTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  color: #4c0080; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 12px; 
  font-size: 22px;
}

/****************************/
/**** Flex Box **************/
/****************************/
.flex-container-peppers {
  display: flex;
  flex-basis: content;
  flex-flow: column wrap;
  align-self: center;
  border: solid;
  border-color: #4c0080;
  text-indent: initial;
  font-size: 1.2em;
  padding: 20px 35px 55px 90px;
  border-radius: 15px 50px 30px 5px;
}

.flex-container-contact {
  display: flex;
  flex-basis: content;
  flex-flow: column wrap;
  align-self: center;
  padding-left: 10px;
}

.hotsauces {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.home-section {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
}

h1 {
  display: flex;
  text-align: center;
  font-stretch: expanded;
}

p {
  display: flex;
  justify-content: center;
  padding: 0;
}

img {
  display: inline-flex;
  max-width: 40%;
}

.featuredsauces {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  border-radius: 14px;
  color: rgb(94, 7, 7);
  border: solid;
  padding: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;
}

address {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-style: italic;
  text-align: left;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
}

.questionnaire {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-size: 2em;
}

.footer .copyright {
  box-sizing: border-box;
  font-weight: 400px;
  text-align: center;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

br {
  border-radius: 0.5em;
}

/* Hamburger */
.hamburger {
  background-color: transparent;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

.scroll-trigger {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 40px solid silver;
  border-bottom: 15px solid transparent;
} 

.visible, 
.invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1.0;
}

/****************************/
/******* List Styles ********/
/****************************/
li {
  list-style-type: none;
}

/****************************/
/***** Image Carousels *****/
/****************************/
.container,
.numbertext {
  box-sizing: border-box;
  align-content: center;
}

img {
  vertical-align: middle;
}

/* Position image container (left & right arrows)*/
.container {
  position: relative;
}

/* Hide images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over thumbnail image */
.cursor {
  cursor: pointer;
}

/* Next & Previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: #4c0080;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position next button to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add black background color with slight see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text ex. 1 of 3 */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 12px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/****************************/
/**** pseudo selectors ******/
/****************************/

input:focus,
textarea:focus {
  border-color: rgb(99, 8, 99);
}

:disabled {
  background: darkgray;
}

/****************************/
/****** Media Queries *******/
/****************************/

@media screen and (max-width: 200px) {
  .top-nav a,
  .top-nav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 200px;
    margin-bottom: 0;
    padding: 8px;
  }
}

@media screen and (max-height: 450px) {
  .main {
    padding-top: 15px;
  }
  .top-nav a {
    font-size: 18px;
  }
}

@media screen and (max-width:450px) {
  .icon {
    display: block;
    justify-content: space-evenly;
  }
}

@media screen and (max-width:450px) {
  .active {
    display: flex;
  }
}

@media screen and (max-width:450px) {
  .main {
    display: block;
    background-color: black;
  }
}

@media screen and (max-width:450px) {
  img {
    flex-shrink: initial;
  }
}

@media screen and (max-width:450px) {
  #active {
    width: 100vw;
    text-align: center;
  }
}

/****************************/
/******** Clearfix **********/
/****************************/
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

#backdrop {
  display: flex;
  align-content: stretch;
}